@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
footer, .bgeffect1, .card-quote, .card1, .container {
  display: grid;
  justify-items: center;
  align-items: center;
}

.container {
  width: 100%;
}

.landing h4, .landing h1, nav #menuicon, nav #logo, address, .link-list, .button2, .button, .card1 h4, .card1 p, .card1, .text {
  margin: 1rem;
}

.container {
  margin: 1rem 0;
}

.header {
  margin: 2rem 1rem;
}

.bgeffect1 h3, .button2, .button {
  padding: 1rem;
}

.text {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.center-text {
  text-align: center;
}

footer, .bgeffect1, .card-quote, .card1, .container {
  display: grid;
  justify-items: center;
  align-items: center;
}

.container {
  width: 100%;
}

.landing h4, .landing h1, nav #menuicon, nav #logo, address, .link-list, .button2, .button, .card1 h4, .card1 p, .card1, .text {
  margin: 1rem;
}

.container {
  margin: 1rem 0;
}

.header {
  margin: 2rem 1rem;
}

.bgeffect1 h3, .button2, .button {
  padding: 1rem;
}

footer, .bgeffect1, .card-quote, .card1, .container {
  display: grid;
  justify-items: center;
  align-items: center;
}

.container {
  width: 100%;
}

.landing h4, .landing h1, nav #menuicon, nav #logo, address, .link-list, .button2, .button, .card1 h4, .card1 p, .card1, .text {
  margin: 1rem;
}

.container {
  margin: 1rem 0;
}

.header {
  margin: 2rem 1rem;
}

.bgeffect1 h3, .button2, .button {
  padding: 1rem;
}

.card1 {
  width: 300px;
  height: 485px;
  overflow: hidden;
  transition: 1.25s;
  border-radius: 8px;
  outline: dashed;
  outline-color: #202020;
}
.card1 img {
  width: 80%;
  height: 200px;
  border-radius: 8px;
  opacity: 0.9;
}
.card-quote {
  width: 100%;
  height: 200px;
  text-align: center;
}

.button2, .button {
  align-self: center;
  text-decoration: none;
  font-weight: 600;
  border: solid;
  border-width: 2px;
  border-radius: 12px;
  transition: 250ms;
}
.button2:hover, .button:hover {
  transform: scale(0.9);
  text-decoration: underline;
}

.button {
  color: white;
  background-color: #e7845d;
  border-color: #e7845d;
}

.button2 {
  color: #e7845d;
}

.link-list li {
  list-style: none;
}

.link {
  font-style: italic;
  text-decoration: none;
  color: #e7845d;
}

span {
  color: #e7845d;
}

.landing, .bgeffect1 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgeffect1 {
  width: 100%;
  min-height: 500px;
}
.dottedborder {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.65) 100%);
  border-radius: 8px;
  outline: dashed;
  outline-color: #e7845d;
}

address a[href^=mailto]::before {
  content: "📧 ";
}
address a[href^=tel]::before {
  content: "📞 ";
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: Quicksand;
  line-height: 1.5;
}

body {
  position: relative;
  display: grid;
  color: white;
  background-color: #0a0a0a;
}

nav {
  position: fixed;
  z-index: 1;
  justify-self: center;
  display: grid;
  grid-template-columns: auto 1fr;
  place-items: center;
  width: 100%;
  max-width: 800px;
}
nav #logo {
  height: 40px;
}
nav #menuicon {
  justify-self: end;
  width: 30px;
  cursor: pointer;
  filter: invert(100%);
  transition: 250ms;
}
nav #menuicon.active {
  transform: rotate(180deg);
}

.footerlink {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: start;
}

.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/resources/rest-area.webp");
}/*# sourceMappingURL=main.css.map */