@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@900&display=swap");
#menulist, nav, .card-quote, .card1, .container-center {
  display: grid;
  justify-items: center;
  align-items: center;
}

footer, .container-start {
  display: grid;
  justify-items: start;
  align-self: start;
}

.grid-adaptive {
  grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
}

.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-start, .container-center {
  width: 100%;
}

.landing img, .landing h1, nav #menuoption li, nav #menuicon, .link-list, .card1 h4, .card1 p, .card1, .text {
  margin: 1rem;
}

footer ul li, #menulist li, nav #logo, .container-start {
  margin: 1rem 0;
}

.header {
  margin: 2rem 1rem;
}

footer, .button {
  padding: 1rem;
}

.link-nav {
  padding: 0.5rem;
}

.link {
  padding: 0.5rem 0;
}

.text {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  max-width: 500px;
}

.center-text {
  text-align: center;
}

.header {
  max-width: 500px;
}

#menulist, nav, .card-quote, .card1, .container-center {
  display: grid;
  justify-items: center;
  align-items: center;
}

footer, .container-start {
  display: grid;
  justify-items: start;
  align-self: start;
}

.grid-adaptive {
  grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
}

.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-start, .container-center {
  width: 100%;
}

.landing img, .landing h1, nav #menuoption li, nav #menuicon, .link-list, .card1 h4, .card1 p, .card1, .text {
  margin: 1rem;
}

footer ul li, #menulist li, nav #logo, .container-start {
  margin: 1rem 0;
}

.header {
  margin: 2rem 1rem;
}

footer, .button {
  padding: 1rem;
}

.link-nav {
  padding: 0.5rem;
}

.link {
  padding: 0.5rem 0;
}

#menulist, nav, .card1, .card-quote, .container-center {
  display: grid;
  justify-items: center;
  align-items: center;
}

footer, .container-start {
  display: grid;
  justify-items: start;
  align-self: start;
}

.grid-adaptive {
  grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
}

.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-start, .container-center {
  width: 100%;
}

.landing img, .landing h1, nav #menuoption li, nav #menuicon, .text, .card1, .card1 h4, .card1 p, .link-list {
  margin: 1rem;
}

footer ul li, #menulist li, nav #logo, .container-start {
  margin: 1rem 0;
}

.header {
  margin: 2rem 1rem;
}

footer, .button {
  padding: 1rem;
}

.link-nav {
  padding: 0.5rem;
}

.link {
  padding: 0.5rem 0;
}

.card1 {
  width: 300px;
  height: 485px;
  overflow: hidden;
  transition: 1.25s;
  border-radius: 8px;
  outline: dashed;
  outline-color: #969696;
}
.card1 img {
  width: 250px;
  border-radius: 8px;
  opacity: 0.9;
}
.card-quote {
  width: 100%;
  height: 200px;
  text-align: center;
}

.button {
  align-self: center;
  background-image: linear-gradient(to left, #FAA44F 50%, #D0271B 50%);
  background-size: 200%;
  text-decoration: none;
  font-weight: 800;
  border-radius: 8px;
  transition: 250ms;
  cursor: pointer;
}
.button:hover {
  color: #0a0a0a;
  background-position: right;
}

.button {
  color: #ffffff;
}

.link-list li {
  list-style: none;
}

.link-nav, .link {
  text-decoration: none;
  border-radius: 4px;
  transition: 250ms;
}
.link-nav::after, .link::after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 0%;
  content: "";
  font-size: 0;
  background: #D0271B;
  height: 2px;
  transition: 250ms;
}
.link-nav:hover::after, .link:hover::after {
  width: 100%;
}

.link-nav {
  position: relative;
  color: #0a0a0a;
  font-weight: 700;
  border-radius: 0;
  transform: scale(1);
}

span {
  color: #D0271B;
}

.landing {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content .content-child .content-bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@-webkit-keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(10px);
  }
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(10px);
  }
}
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  line-height: 1.5;
  letter-spacing: 2px;
}

body {
  position: relative;
  color: #0a0a0a;
  background-color: #ffffff;
  font-family: Quicksand;
}

nav {
  position: fixed;
  left: 0;
  z-index: 2;
  justify-self: center;
  grid-template-columns: auto 1fr;
  width: 100%;
  background: #ffffff;
  overflow: hidden;
}
@media (min-width: 992px) {
  nav {
    grid-template-columns: 2fr 4fr 2fr;
  }
}
nav #logo {
  height: 60px;
  background-color: #ffffff;
  border-radius: 0 0 8px 8px;
}
nav #menuicon {
  justify-self: end;
  width: 30px;
  cursor: pointer;
  transition: 250ms;
}
@media (min-width: 992px) {
  nav #menuicon {
    display: none;
  }
}
nav #menuicon.active {
  transform: rotate(180deg);
}
nav #menuicon.scrolling {
  filter: none;
}
nav #menuoption {
  justify-self: center;
  display: none;
}
nav #menuoption li {
  display: inline;
}
@media (min-width: 992px) {
  nav #menuoption {
    display: block;
  }
}
nav #orderCTA {
  display: none;
  text-align: center;
}
@media (min-width: 992px) {
  nav #orderCTA {
    display: flex;
  }
}

#menulist {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transform: translateX(100%);
  background-color: #ffffff;
  transition: 250ms;
  font-size: 24px;
}
@media (min-width: 992px) {
  #menulist {
    display: none;
  }
}
#menulist.active {
  transform: translateX(0);
}
@media (min-width: 600px) {
  footer {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 992px) {
  footer {
    grid-template-columns: repeat(4, 1fr);
  }
}
footer ul li {
  list-style: none;
}
footer ul li a {
  position: relative;
  color: 2;
  text-decoration: none;
}
footer p {
  font-weight: 500;
}
footer .sus {
  height: 100%;
}

#logo-footer {
  margin-top: 2rem;
  align-self: start;
  width: 200px;
}

.landing {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom, rgba(99, 99, 99, 0.603), rgba(49, 49, 49, 0.37)), url("../resources/sushiland3.webp");
  font-family: Work Sans;
}
@media (min-width: 992px) {
  .landing {
    background-image: linear-gradient(to bottom, rgba(99, 99, 99, 0.603), rgba(49, 49, 49, 0.37)), url("../resources/sushiland4.jpg");
  }
}
.landing h1 {
  color: #ffffff;
  font-size: 60px;
}
.landing img {
  width: 60px;
  border-radius: 8px;
}
.landing #arrow {
  position: absolute;
  bottom: 1rem;
  width: 30px;
  filter: invert(100%);
  -webkit-animation: bounce infinite alternate 300ms ease-in;
          animation: bounce infinite alternate 300ms ease-in;
  transition: 250ms;
}
.landing #arrow.invisible {
  opacity: 0;
}

.content {
  height: 50vh;
}
.content.dual {
  height: 100vh;
}
@media (min-width: 600px) {
  .content.dual {
    grid-template-columns: 1fr 1fr;
    height: 50vh;
  }
}
.content .content-child {
  position: relative;
  height: 100%;
  color: #ffffff;
  font-size: 24px;
  cursor: pointer;
  overflow: hidden;
}
.content .content-child .content-bg {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 250ms;
}
.content .content-child:hover .content-bg {
  transform: scale(1.1);
}
.content .content-child #bg-menu {
  background-image: linear-gradient(to bottom, rgba(197, 139, 81, 0.65), rgba(197, 139, 81, 0.65)), url("../resources/sushiland.webp");
}
.content .content-child #bg-partners {
  background-image: linear-gradient(to bottom, rgba(90, 102, 71, 0.65), rgba(90, 102, 71, 0.65)), url("../resources/sushiland3.webp");
}
.content .content-child #bg-about {
  background-image: linear-gradient(to bottom, rgba(128, 128, 128, 0.65), rgba(128, 128, 128, 0.65)), url("../resources/sushiland4.jpg");
}/*# sourceMappingURL=main.css.map */