// Import SCSS files
@import 'scss/colours';
@import 'scss/fonts';
@import 'scss/displays';
@import 'scss/elements';


// All elements
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: ff(primary);
    line-height: 1.5;
}


// Body
body {
    position: relative;
    display: grid;
    color: cp1(1);
    background-color: cp1(2);
}


// Navigation
nav {
    position: fixed;
    z-index: 1;
    justify-self: center;
    display: grid;
    grid-template-columns: auto 1fr;
    place-items: center;
    width: 100%;
    max-width: 800px;

    #logo {
        @extend %margin-1f;
        height: 40px;
    }

    #menuicon {
        @extend %margin-1f;
        justify-self: end;
        width: 30px;
        cursor: pointer;
        filter: invert(100%);
        transition: 250ms;

        &.active {
            transform: rotate(180deg);
        }
    }
}


// Footer
footer {
    @extend %gridcenter;
}
.footerlink {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: start;
}


// Custom Elements
.landing {
    @extend %fixedbg;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(g(1), g(1)), url('/resources/rest-area.webp');
    h1 {
        @extend %margin-1f;
    }
    h4 {
        @extend %margin-1f;
    }
}