// Import SCSS
@use 'displays';
@use 'colours';


// Card styles
.card1 {
    @extend %gridcenter;
    @extend %margin-2f;
    width: 300px;
    height: 485px;
    overflow: hidden;
    transition: 1.25s;
    border-radius: 8px;
    outline: dashed;
    outline-color: cp1(6);
    img {
        width: 250px;
        border-radius: 8px;
        opacity: 0.9;
    }
    h4, p {
        @extend %margin-1f;
    }
}


// Button styles
%button {
    @extend %padding-1f;
    align-self: center;
    background-image: linear-gradient(to left, cp1(4) 50%, cp1(3) 50%);
    background-size: 200%;
    text-decoration: none;
    font-weight: 800;
    border-radius: 8px;
    transition: 250ms;
    cursor: pointer;
    &:hover {
        color: cp1(1);
        background-position: right;
    }
}
.button {
    @extend %button;
    color: cp1(2);
}


// Link styles
.link-list {
    @extend %margin-1f;
    li {
        list-style: none;
    }
}
%link {
    text-decoration: none;
    border-radius: 4px;
    transition: 250ms;
    &::after {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 0%;
        content: '';
        font-size: 0;
        background: cp1(3);
        height: 2px;
        transition: 250ms;
    }
    &:hover::after {
        width: 100%;
    }
}
.link {
    @extend %link;
    @extend %padding-halfh;
}
.link-nav {
    @extend %link;
    @extend %padding-halff;
    position: relative;
    color: cp1(1);
    font-weight: 700;
    border-radius: 0;
    transform: scale(1);
}


// Inline style
span {
    color: cp1(3);
}


// Background Styles
%fixedbg {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
%bg-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}