@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import 'displays';


$fonts: (
    primary: Quicksand,
);


@function ff($ff) {
    @return map-get($fonts, $ff);
}

// Text Styles
.text {
    @extend %margin-1f;
    height: max-content;
}
.center-text {
    text-align: center;
}
.header {
    @extend %margin-headers;
}