@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


$fonts: (
    primary: Quicksand,
);


@function ff($ff) {
    @return map-get($fonts, $ff);
}


.text {
    margin: 1rem;
    height: max-content;
}


.heading {
    margin: 2rem 1rem;
}


.dottedborder {
    margin: 2rem;
    padding: 1rem;
    background: linear-gradient(0deg, g(2) 0%, g(2) 100%);
    border-radius: 8px;
    outline: dashed;
    outline-color: cp1(3);
}